<header class="border-b-2 w-full">
  <div class="p-[var(--space-2xs)] repel wrapper">
    <div class="text-(length:--step-2)">persuasion</div>
    <nav>
      <ul class="cluster">
        <li class="link">
          <a href="/admin/classes"> classes</a>
        </li>

        <li class="link" hx-post="/api/logout">log out</li>
      </ul>
    </nav>
  </div>
</header>
