---
import "../styles/global.css";
// import Header from "../components/core/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="htmx-config" content='{"allowNestedOobSwaps": false}' />
    <link rel="icon" type="image/svg+xml" href="/src/assets/favicon.ico" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"></script>

    <meta name="generator" content={Astro.generator} />
    <title>Persuasion</title>
  </head>
  <body>
    <!-- <Header /> -->
    <main class="flex grow">
      <slot />
    </main>
  </body>
</html>
